// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  width: 100%;
  height: 20em;
  background: $amethyst-prim;
}
