nav {
  position: relative;
}
nav ul {
  position: absolute;
}
nav ul:last-child {
  position: absolute;
  top: 125px;
}

.hamburger {
  background: #333333;
  color: white;
  // padding: 0.2em 0.2em 0 0.2em;
  width: 20px;
  height: 10px;
  position: absolute;
  top: 135px;
  right: 5px;
}

li {
  list-style: none;
  float: left;
  margin: 0em 0.6em;
}
